@charset "utf-8";

.sl-overlay{position:fixed;left:0;right:0;top:0;bottom:0;background:#fff;opacity:.7;display:none;z-index:1006}.sl-wrapper{z-index:1000}.sl-wrapper button{border:0;background:0 0;font-size:24px;padding:0;cursor:pointer;color:#000}.sl-wrapper button:hover{opacity:.7}.sl-wrapper .sl-close{display:none;position:fixed;right:30px;top:30px;z-index:1015}.sl-wrapper .sl-counter{display:none;position:fixed;top:30px;left:30px;z-index:1015}.sl-wrapper .sl-navigation{width:100%;display:none}.sl-wrapper .sl-navigation button{position:fixed;top:50%;margin-top:-10px;height:30px;width:30px;line-height:30px;text-algin:center;display:block;z-index:1015}.sl-wrapper .sl-navigation button.sl-next{right:40px}.sl-wrapper .sl-navigation button.sl-prev{left:40px}.sl-wrapper .sl-image{position:fixed;-ms-touch-action:none;touch-action:none;z-index:10000}.sl-wrapper .sl-image img{margin:0;padding:0;display:block}.sl-wrapper .sl-image .sl-caption{display:none;padding:10px;color:#fff;background:#000;opacity:.8;position:absolute;bottom:0;left:0;right:0}.sl-wrapper .sl-image .sl-download{display:none;position:absolute;bottom:5px;right:5px;color:#fff;z-index:1005}.sl-spinner{display:none;border:5px solid #333;border-radius:40px;height:40px;left:50%;margin:-20px 0 0 -20px;opacity:0;position:fixed;top:50%;width:40px;z-index:1007;-webkit-animation:pulsate 1s ease-out infinite;-moz-animation:pulsate 1s ease-out infinite;-ms-animation:pulsate 1s ease-out infinite;-o-animation:pulsate 1s ease-out infinite;animation:pulsate 1s ease-out infinite}@-webkit-keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-moz-keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-o-keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-ms-keyframes pulsate{0%,100%{opacity:0}0%{transform:scale(.1)}50%{opacity:1}100%{transform:scale(1.2)}}

.btn01{border:1px solid #ccc !important}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

li.gnucommerce{margin-bottom:4em}
.box_clear{clear:both!important;}

.sct img{max-width:100%;height:auto}

.boots_row .col-gn-0,.boots_row .col-gn-1,.boots_row .col-gn-2,.boots_row .col-gn-3,.boots_row .col-gn-4,.boots_row .col-gn-5{position:relative;min-height:1px;padding-left:10px;*padding-left:0;padding-right:10px;*padding-right:0;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:0;}
.boots_row .col-gn-0,
.boots_row .col-gn-1{width:100%;margin:1% 0}
.boots_row .col-gn-1 .sct_img img{width:100%}
.boots_row .col-gn-2{width:49%;margin:0.5%}
.boots_row .col-gn-3{width:30%;margin:1.666666666666667%}
.boots_row .col-gn-4{width:22%;margin:1.5%;}
.boots_row .col-gn-5{width:18%;margin:1%;}


/* 상품 정렬 리스트 스타일 선택 공통 */
#sct_sortlst {*zoom:1}
#sct_sortlst:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 정렬 */
#sct_sort {float:left;width:100%;margin:0 0 10px;border-bottom:1px dashed #dcdcdd;padding-bottom:5px;zoom:1;}
#sct_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort h2 {position:absolute;font-size:0 !important;line-height:0;overflow:hidden}
#sct_sort ul {margin:0;padding:0 0 0 1px;list-style:none;text-align:center;zoom:1}
#sct_sort ul:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort li {position:relative;display:inline-block;margin-bottom:5px;padding:5px;border-radius: 2px;border: 1px solid #d1d1d1;}
#sct_sort li:hover{border:1px solid #007acc;}
#sct_sort li a{font-size:13px;}
#sct_sort li a:hover{color:#ff3061;}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:1em 0;text-align:center;}
.pg_wrap .page-numbers{list-style:none;margin:0;*zoom:1}
.pg_wrap .page-numbers:after{clear:both;content:"";display:table}

.pg_wrap .page-numbers li{display:inline-block}
.pg_wrap .page-numbers li .page-numbers {border-left-width:0;display:inline-block;padding:.327em .857em;background:#fff;color:#000;border:1px solid #d1d1d1;}
.pg_wrap .page-numbers li .page-numbers.focus{border:0}
.pg_wrap .page-numbers li .page-numbers.current {font-weight:bold;color:#ff3061;}
.pg_wrap .page-numbers li .page-numbers.dots {background-color:transparent}
.pg_wrap .page-numbers li .page-numbers.prev, .pg_wrap .page-numbers li .page-numbers.next {padding-left:1em;padding-right:1em}
.pg_wrap .page-numbers li a.page-numbers:hover {background-color:rgba(0,0,0,0.05)}

/* aside:gnb */
#gnb {margin:0 0 5px;padding:0 0 10px;border:1px solid #d5d5d5;background:#f2f5f9}
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.gnb_1dli {position:relative}
.gnb_1dli_on {color:#fff;text-decoration:none}
.gnb_1da {display:block;padding:7px 10px;border-bottom:1px solid #f4f4f4;background-color:#fff;font-weight:bold;text-decoration:none}
.gnb_1dam {background:url('img/gnb_bg00.gif') #fff center right no-repeat}
.gnb_1dli_on .gnb_1da {background-color:#626870;color:#fff;text-decoration:none}
.gnb_1dli_on .gnb_1dam {background:url('img/gnb_bg01.gif') #626870 center right no-repeat;color:#fff;text-decoration:none}
.gnb_2dul {display:none;z-index:1000;position:absolute;border:1px solid #787f89}
.gnb_1dli_over .gnb_2dul, .gnb_1dli_over2 .gnb_2dul {display:block;top:0;left:127px;width:130px;background:#fff}
.gnb_2da {display:none}
.gnb_1dli_over .gnb_2da {display:block;padding:10px;border-bottom:1px solid #e9e9e9}
.gnb_2da:focus, .gnb_2da:hover {background:#f2f5f9;text-decoration:none}

/* 오늘 본 상품 */
#stv {z-index:1001;position:relative;float:right;width:88px}
#stv_list {position:absolute;width:88px;border:1px solid #e9e9e9;background:#fff}
#stv_list h2 {padding:10px 0 8px;background:#f2f5f9;text-align:center;letter-spacing:-0.1em}
#stv_pg {display:block;margin:5px 0 0}
#stv_list p {padding:20px 0;text-align:center}
#stv_btn {text-align:center;zoom:1}
#stv_btn:after {display:block;visibility:hidden;clear:both;content:""}
#stv_btn button {float:left;margin:0;padding:5px 0 4px;width:44px;border:0;background:#555;color:#fff;text-align:center}
#stv_ul {margin:5px 0 10px;padding:0;list-style:none}
.stv_item {display:none;padding:0 9px;text-align:center;word-break:break-all}
.stv_item img {margin:5px 0}

#stv_nb {margin:0;padding:0;border-top:1px solid #e9e9e9;background:#f2f5f9;list-style:none}
#stv_nb li {text-align:center}
#stv_nb a {display:block}

/* aside:이벤트 링크 */
#sev {margin:0 0 5px;padding:0 0 10px;border:1px solid #ecc9d6;background:#fff8fb}
#sev h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sev ul {margin:0;padding:0;border:0;background:#fff;list-style:none}
#sev .sev_img {display:block;border-bottom:1px solid #faedf2}
#sev .sev_text {display:block;padding:7px 10px 6px;border-bottom:1px solid #faedf2;text-decoration:none}
#sev .sev_text:focus, #sev .sev_text:hover {background:#fffafc}
#sev strong {}
#sev_empty {padding:15px 0;text-align:center}

/* aside:커뮤니티 링크 */
#scomm {margin:0 0 5px;padding:0 0 10px;border:1px solid #d5d5d5;background:#f2f5f9}
#scomm h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#scomm ul {margin:0;padding:0;border:0;background:#fff;list-style:none}
#scomm a {display:block;padding:7px 10px 6px;border-bottom:1px solid #f4f4f4;text-decoration:none}
#scomm a:focus, #scomm a:hover {background:#f9f9f9}
#scomm_empty {padding:15px 0;text-align:center}

/* aside:배너 */
.sbn {margin:0 0 5px}
.sbn h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sbn ul {margin:0;padding:0;border:0;list-style:none}
.sbn li {margin:0 0 1px}
.sbn .sbn_border {border:1px solid #d5d5d5} /* 인덱스 배너도 함께 사용 */

#sbn_idx {position:relative;margin:0 0 30px}
#sbn_idx .sbn_btn {z-index:100;position:absolute;top:50%}
#sbn_idx .sbn_btn button {position:relative;top:-35px;margin:0;padding:0;width:70px;height:70px;border:0;background:transparent;overflow:hidden}
#sbn_idx .sbn_btn span {display:block;width:100%;height:100%;background:url('img/sbn_btn.png')}
#sbn_idx #sbn_btn_p {left:25px}
#sbn_idx .sbn_btn #sbn_btn_prev span {background-position:0 0}
#sbn_idx #sbn_btn_n {right:25px}
#sbn_idx .sbn_btn #sbn_btn_next span {background-position:-70px 0}
#sbn_idx ul {position:relative;overflow:hidden}
#sbn_idx ul li {position:absolute;display:none;top:0;left:0}
#sbn_idx ul li.sbn_first{display:block}

/* 장바구니 */

#sod_bsk_act .btn_submit{background:green !important;}
#sod_bsk_act .btn_submit:focus,#sod_bsk_act .btn_submit:hover{background:green !important;}

/* aside:장바구니 */
#sbsk {margin:0 0 5px;padding:0 0 10px;border:1px solid #d5d5d5;background:#f2f5f9}
#sbsk h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sbsk ul {margin:0;padding:0;border:0;background:#fff;list-style:none}
#sbsk a {display:block;padding:7px 10px 6px;border-bottom:1px solid #f4f4f4;text-decoration:none}
#sbsk a:focus, #sbsk a:hover {background:#f9f9f9}
#sbsk_empty {padding:15px 0;text-align:center}

/* aside:위시리스트 */
#swish {margin:0 0 5px;padding:0 0 10px;border:1px solid #d5d5d5;background:#f2f5f9}
#swish h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#swish ul {margin:0;padding:0;border:0;background:#fff;list-style:none}
#swish a {display:block;padding:7px 10px 6px;border-bottom:1px solid #f4f4f4;text-decoration:none}
#swish a:focus, #swish a:hover {background:#f9f9f9}
#swish_empty {padding:15px 0;text-align:center}

/* ##### main(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {position:relative;margin:0 0 30px;zoom:1}
.sct_wrap .sctrl {position:absolute;top:0;right:0} /* 애니메이션 효과 사용 시 재생 정지 버튼 등 */
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {float:left;margin:0 20px 0 0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {float:left;margin:0;padding:0;color:#777;line-height:1em}

#sct {clear:both}

.sct {clear:both;margin:0;padding:0;list-style:none;zoom:1}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative}
.sct_noitem {padding:100px 0;text-align:center}
.sct img {position:relative} /* 리스트뷰 갤러리뷰 변경 시 ie6,7 에서 이미지 사라지는 문제 해결하기 위해 */
.sct_icon img {margin:0 1px 0 0}
.sct_sns a {display:inline-block;margin:0 4px 0 0}

/* 재생/정지/이전/다음 버튼 */
.sctrl {margin:0;padding:0;list-style:none;zoom:1}
.sctrl:after {display:block;visibility:hidden;clear:both;content:""}
.sctrl li {position:relative;float:left;margin:0 0 0 -1px}
.sctrl button {position:relative;margin:0;padding:0;width:21px;height:21px;border:0;cursor:pointer;overflow:hidden}
.sctrl button span {position:absolute;top:0;left:0;width:19px;height:19px;border:1px solid #ccc;background:url('img/is_button.gif')}
.sctrl button.sctrl_play span {background-position:-60px 0}
.sctrl button.sctrl_play span.sctrl_on {background-position:-60px -30px}
.sctrl button.sctrl_stop span {background-position:-90px 0}
.sctrl button.sctrl_stop span.sctrl_on {background-position:-90px -30px}
.sctrl button.sctrl_prev span {background-position:-120px 0}
.sctrl button.sctrl_prev span.sctrl_on {background-position:-120px -30px}
.sctrl button.sctrl_next span {background-position:-150px 0}
.sctrl button.sctrl_next span.sctrl_on {background-position:-150px -30px}

/* 상품 목록 스킨 10 */
.sct.boots_row{margin-left:-10px;margin-right:-10px;padding:0}
.sct_10 li {list-style:none;padding:10px;text-align:center;border:1px solid #dcdcdd}
.sct_10 li:hover{border: 1px solid #007acc;}
.sct_10 li a{color:#000}
.sct_10 .sct_last {margin:0 0 15px !important}
.sct_10 .sct_clear {clear:both}
.sct_10 .sct_a {display:inline-block;position:relative;text-decoration:none}
.sct_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.sct_10 .sct_img {margin:0 0 5px}
.sct_10 .sct_txt{line-height:1.5em}
.sct_10 .sct_icon {margin:0 0 5px;line-height:1em}
.sct_10 .sct_id {display:block;margin:0 0 5px}
.sct_10 .sct_tit{color:#111;margin-bottom:5px;}
.sct_10 .sct_basic {margin:0 0 5px;font-size:12px;color:#888}
.sct_10 .sct_cost {display:block;margin:0 0 5px;font-weight:bold}
.sct_10 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_10 .sct_sns {}
.sct_10 .sit_icon img{display:inline}

/* 상품목록 리스트형 */
.row_list .col-gn-0,
.row_list .col-gn-1,
.row_list .col-gn-2,
.row_list .col-gn-3,
.row_list .col-gn-4,
.row_list .col-gn-5,
.row_list .col-gn-6,
.row_list .col-gn-7,
.row_list .col-gn-8,
.row_list .col-gn-9,
.row_list .col-gn-10 {float: none;width:100%}
.row_list .item_box_href{display:block}
.row_list .sct_img{float:left;width:10%;padding:0.6em;margin:0}
.row_list .item_box_href{border:1px solid #e9e9e9;background: #f5f6fa;*zoom:1}
.row_list .item_box_href:after {display:block;visibility:hidden;clear:both;content:""}
.row_list .sct_txt{clear:none;margin-top:.5em;}
.row_list li.gnucommerce{margin-bottom:1em}
.row_list .sct_sns{position:absolute;bottom:20px;right:20px}

/* 상품 목록 스킨 20 */
.sct_20 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.sct_20 .sct_last {margin:0 0 15px !important}
.sct_20 .sct_clear {clear:both}
.sct_20 .sct_a {display:block;position:relative;text-decoration:none}
.sct_20 .sct_a:focus, .sct_20 .sct_a:hover {text-decoration:none}
.sct_20 .sct_img {}
.sct_20 .sct_icon {position:absolute;top:10px;left:-5px;margin:0 !important}
.sct_20 .sct_icon img {display:block;margin:0 0 3px}
.sct_20 .sct_id {display:block;padding:5px 10px 0;background:#f2f5f9}
.sct_20 .sct_txt {padding:10px;background:#f2f5f9}
.sct_20 .sct_basic {padding:0 10px 5px;background:#f2f5f9;line-height:1.5em}
.sct_20 .sct_cost {display:block;padding:0 10px 10px;background:#f2f5f9;font-weight:bold}
.sct_20 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_20 .sct_sns {position:absolute;bottom:10px;right:10px}

/* 상품 목록 스킨 30 */
.sct_30 .sct_li {position:relative;float:left;margin:0 16px 15px 0;border:1px solid #e9e9e9;background:#f5f6fa}
.sct_30 .sct_last {margin:0 0 15px !important}
.sct_30 .sct_clear {clear:both}
.sct_30 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('img/icon_arw_toleft.gif') no-repeat}
.sct_30 .sct_a {text-decoration:none}
.sct_30 .sct_img img {position:absolute;top:0;left:0}
.sct_30 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_30 .sct_icon img {display:block;margin:0 0 3px}
.sct_30 .sct_txt {display:inline-block;margin:0 0 20px}
.sct_30 .sct_basic {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_30 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_30 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_30 .sct_sns {position:absolute;bottom:20px;right:10px}

/* 상품 목록 스킨 40 */
.sct_40 .sct_li {position:relative;margin:0 0 16px 0;border:1px solid #e9e9e9;background:#f5f6fa}
.sct_40 .sct_a {text-decoration:none}
.sct_40 .sct_a:focus, .sct_40 .sct_a:hover {text-decoration:none}
.sct_40 .sct_img {position:absolute;top:0;left:0}
.sct_40 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_40 .sct_icon img {display:block;margin:0 0 4px}
.sct_40 .sct_txt {display:inline-block;margin:0 0 20px}
.sct_40 .sct_basic {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_40 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_40 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_40 .sct_rel {position:absolute;bottom:20px;right:20px}
.sct_40 .sct_rel_ul {margin:0;padding:0;list-style:none}
.sct_40 .sct_rel_li {float:left;margin:0 0 0 10px}
.sct_40 .sct_sns {padding:10px 0 0}

/* 개인결제 목록 */
.sct_pv .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.sct_pv .sct_last {margin:0 0 15px !important}
.sct_pv .sct_clear {clear:both}
.sct_pv .sct_a {display:inline-block;position:relative;text-decoration:none}
.sct_pv .sct_a:focus, .sct_pv .sct_a:hover {text-decoration:none}
.sct_pv .sct_img {margin:0 0 10px}
.sct_pv .sct_txt {margin:0 0 5px}
.sct_pv .sct_icon {margin:0 0 10px}
.sct_pv .sct_id {display:block;margin:0 0 5px}
.sct_pv .sct_basic {margin:0 0 10px}
.sct_pv .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_pv .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_pv .sct_sns {}

/* 메인 상품 목록 스킨 20 */
.smt_20 {position:relative;overflow-y:hidden}
.smt_20 .sct_ul {position:absolute;top:0;left:0;margin:0;padding:0;list-style:none}
.smt_20 .sct_ul_first {display:block;top:0}
.smt_20 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.smt_20 .sct_last {margin:0 0 15px !important}
.smt_20 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_20 .sct_a:focus, .smt_20 .sct_a:hover {text-decoration:none}
.smt_20 .sct_img {margin:0 0 10px}
.smt_20 .sct_txt {margin:0 0 5px}
.smt_20 .sct_icon {margin:0 0 10px}
.smt_20 .sct_id {display:block;margin:0 0 5px}
.smt_20 .sct_basic {margin:0 0 10px}
.smt_20 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_20 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_20 .sct_sns {}

/* 메인 상품 목록 스킨 30 */
.smt_30 {position:relative;overflow-x:hidden}
.smt_30 .sct_ul {position:absolute;top:0;left:765px;margin:0;padding:0;width:765px;list-style:none;zoom:1}
.smt_30 .sct_ul:after {display:block;visibility:hidden;clear:both;content:""}
.smt_30 .sct_ul_first {display:block;left:0}
.smt_30 .sct_li {position:relative;float:left;margin-right:25px}
.smt_30 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_30 .sct_a:focus, .smt_30 .sct_a:hover {text-decoration:none}
.smt_30 .sct_img {margin:0 0 10px}
.smt_30 .sct_txt {margin:0 0 5px}
.smt_30 .sct_icon {margin:0 0 10px}
.smt_30 .sct_id {display:block;margin:0 0 5px}
.smt_30 .sct_basic {margin:0 0 10px}
.smt_30 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_30 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_30 .sct_sns {}

/* 메인 상품 목록 스킨 40 */
.smt_40 {clear:both;position:relative}
.smt_40 .sct_ul {display:none;position:absolute;top:0;left:0;margin:0;padding:0;list-style:none}
.smt_40 .sct_ul_first {display:block}
.smt_40 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.smt_40 .sct_last {margin:0 0 15px !important}
.smt_40 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_40 .sct_a:focus, .smt_40 .sct_a:hover {text-decoration:none}
.smt_40 .sct_img {margin:0 0 10px}
.smt_40 .sct_txt {margin:0 0 5px}
.smt_40 .sct_icon {margin:0 0 10px}
.smt_40 .sct_id {display:block;margin:0 0 5px}
.smt_40 .sct_basic {margin:0 0 10px}
.smt_40 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_40 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_40 .sct_sns {}

/* 메인 상품 목록 스킨 50 */
.smt_50 {position:relative}
.smt_50 .sct_ul {display:none;position:absolute;top:0;left:0;height:306px;margin:0;padding:0;list-style:none;overflow-y:hidden}
.smt_50 .sct_ul_first {display:block}
.smt_50 .sct_li {position:relative;float:left;position:relative;top:-306px;margin:0 25px 15px 0}
.smt_50 .sct_last {margin:0 0 15px}
.smt_50 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_50 .sct_a:focus, .smt_50 .sct_a:hover {text-decoration:none}
.smt_50 .sct_img {margin:0 0 10px}
.smt_50 .sct_txt {margin:0 0 5px}
.smt_50 .sct_icon {margin:0 0 10px}
.smt_50 .sct_id {display:block;margin:0 0 5px}
.smt_50 .sct_basic {margin:0 0 10px}
.smt_50 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_50 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_50 .sct_sns {}

/* 관련상품 목록 스킨 10 */
.scr_10 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.scr_10 .sct_last {margin:0 0 15px !important}
.scr_10 .sct_clear {clear:both}
.scr_10 .sct_a {display:inline-block;position:relative;text-decoration:none}
.scr_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.scr_10 .sct_img {margin:0 0 10px}
.scr_10 .sct_txt {margin:0 0 5px}
.scr_10 .sct_icon {margin:0 0 10px}
.scr_10 .sct_id {display:block;margin:0 0 5px}
.scr_10 .sct_basic {margin:0 0 10px}
.scr_10 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.scr_10 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.scr_10 .sct_sns {}

/* ##### main(nn).skin.php, list.(nn).skin..php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 10px;text-align:right}

/* 상품 목록 현재 위치 */
.gc_sct_location {display:block;margin:0 0 10px;border-bottom:2px solid #525f78;font-size:12px;text-align:right}
.gc_sct_location a,.gc_sct_location span{display:inline-block;padding:10px 10px 8px;text-decoration:none;letter-spacing:0 !important;color:#333}
.gc_sct_location .sct_here {font-weight:bold}
.gc_sct_location .sct_bg {padding-right:15px !important;background:url('img/sct_bg_toright.gif') right center no-repeat;color:#333}

/* 상품 목록 카테고리 목록 */
.sct_ct {}
.sct_ct h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sct_ct ul {margin:0 0 10px;padding:10px;border-bottom:1px solid #e9e9e9;list-style:none;zoom:1}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct a {text-decoration:none}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_1 li {float:left;margin:0 10px 10px 0;width:120px}
#sct_ct_2 li {margin:0 0 10px}
#sct_ct_2 a {display:inline-block;width:120px}
#sct_ct_3 li {float:left;margin:0 10px 10px 0;width:120px}

/* 상품 정렬 리스트 스타일 선택 공통 */
#sct_sortlst {display:block;*zoom:1;}
#sct_sortlst:after {display:block;visibility:hidden;clear:both;content:""}


/* 상품 리스트 스타일 선택 */
#sct_lst {margin:0 0 10px;padding:0;list-style:none;zoom:1}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:right;margin:0 0 0 -1px;height:25px;padding:0;list-style:none}
#sct_lst button {position:relative;margin:0;padding:0;width:25px;height:25px;border:0;cursor:pointer;overflow:hidden;box-sizing:content-box;background-color:none;line-height:1.67em}
#sct_lst button span {position:absolute;top:0;left:0;width:23px;height:23px;border:1px solid #ccc;box-sizing:content-box;background:url('img/is_button.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}

/* 상품 상세보기 */
#sit {margin:10px 0;border:1px solid #e9e9e9}
.sit_admin {text-align:right}
.sit_admin .btn_admin{display:inline-block;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle;padding:5px;font-size:12px;border-radius:2px}
.sit_empty {padding:50px 0 !important;text-align:center;font-size:12px}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:20px 0;border-bottom:1px solid #e9e9e9;zoom:1}
#sit_ov_wrap ul, #sit_ov_wrap li{margin:0;padding:0;list-style:none}
#sit_ov_wrap li span{margin:0;padding:0}
#sit_ov_wrap li.w50{float:left;width:50%}
#sit_ov_wrap .clearfix{zoom:1}
#sit_ov_wrap ul.clearfix{margin-bottom:1em;}
#sit_ov_wrap .clearfix:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
.shop_view_slider{margin-right:1em;position:relative}

.shop_view_slider ul.gc_bxslider li{position:absolute;top:0;left:0;z-index:-1}
.shop_view_slider ul.gc_bxslider li:first-child{position:relative;z-index:1}
.gc_bxslider li {text-align:center}
.gc_bxslider li span{display:block;}
.shop_view_slider
.bx-wrapper{position:relative;margin:0 auto 15px;padding:0;;*zoom:1}
.bx-wrapper img{width:100%;height:auto;display:block}
.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%}
.bx-wrapper .bx-loading{min-height:50px;background:url(img/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666;padding-top:20px}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}
.bx-wrapper .bx-prev{left:10px;background:url(img/controls.png) no-repeat 0 -32px}
.bx-wrapper .bx-next{right:10px;background:url(img/controls.png) no-repeat -43px -32px}
.bx-wrapper .bx-prev:hover{background-position:0 0}
.bx-wrapper .bx-next:hover{background-position:-43px 0}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:999}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(img/controls.png) -86px -11px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(img/controls.png) -86px -44px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80,80,80,0.75);width:100%}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}

.shop_view_slider #gc-bx-pager{text-align:left}
.shop_view_slider #gc-bx-pager a{display:inline-block;margin:0 3px 0}
.shop_view_slider #gc-bx-pager a img{;border:solid #ccc 1px}
.shop_view_slider #gc-bx-pager a:hover img,.shop_view_slider #gc-bx-pager a.active img{border:solid #5280DD 1px}

#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 20px;padding:0 10px;list-style:none;zoom:1}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {float:left;margin:0 0 1px 1px}
#sit_pvi_nw li img {width:60px;height:60px}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov_wrap #sit_ov {position:relative;}
#sit_ov h3 {margin:0 5px;font-size:1em;}


#sit_title {margin:0;font-size:1.2em;background:#f7f7f7;color:#007acc;border:1px solid #e4e4e4;line-height:1.25;padding:15px;}
#sit_info{margin-bottom:10px;border:1px solid #e4e4e4;border-top:0;}
#sit_desc {margin:0 0 5px;padding:.7em;color:#999;font-size:12px;line-height:1.5em;border-bottom:1px dashed #e9e9e9;}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sit_star_sns {color:#b8afa2;font-size:0.95em;letter-spacing:-0.1em;padding:10px;border:1px solid #ddd;text-align:center;background:#fff;}
#sit_star_sns span {display:inline-block;margin:0 5px 0 0;color:#666;letter-spacing:0}
#sit_star_sns .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_star_sns a {display:inline-block;vertical-align:middle}

.sit_ov_tbl {margin-bottom:20px;width:100%;border:0;border-collapse:collapse}
.sit_ov_tbl th {padding:.2em 0 .3em;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;font-weight:normal;text-align:left}
.sit_ov_tbl td {padding:7px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {margin:0 1px 0 0;padding:2px 2px 3px;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
#sit_ov_tbl button {margin:0 1px 0 0}

#sit_ov_wrap .sit_ov_box {padding:0 .7em;margin:0 0 1em;list-style:none;}
#sit_ov_wrap .sit_ov_box li{padding:0.313em 0;margin:0;list-style:none;*zoom:1;font-size:12px;border-bottom:1px dotted #fff}
#sit_ov_wrap .sit_op_box select,#ct_send_cost{font-size:12px;width:100%;height:30px;line-height:30px;background:#fff;border:1px solid #ccc;color:#333;padding:0 !important;margin:0}

.sit_ov_box li label{display: inherit;font-weight:normal;margin:5px 0;}
.sit_ov_box li:after{display:block;visibility:hidden;clear:both;content:""}
.sit_ov_box li .ov_row{float:left;width:100px;}

.sns_star{display:block;text-align:center;padding:10px 0 !important;background:#f7f7f7}

.sit_sel_btn {position:relative} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {position:absolute;top:-51px;right:0 !important;right:15px}

#sit_sel_option h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_tot_price {margin:20px 0;font-size:16px;font-weight:bold}
#sit_ov_soldout {margin:0 0 20px;color:#ff3061;font-weight:bold;text-align:center}

#sit_ov_btn {text-align:right;padding-right:111px;position:relative;}
#sit_ov_btn input {font-size:13px;display:inline-block;width:49.5%;text-align:center;text-decoration:none;letter-spacing:-0.1em;cursor:pointer;line-height:1em;padding:1.0em 0 1.0em 10px;vertical-align:baseline;background:#f7f7f7;border:1px solid #e4e4e4;border-radius:2px;color:#007acc;}
#sit_ov_btn input:hover,#sit_ov_btn #sit_btn_buy:hover,#sit_ov_btn #sit_btn_buy:focus, #sit_ov_btn #sit_btn_cart:hover{border:1px solid #007acc;}
#sit_ov_btn #sit_btn_cart{float:right;color:#007acc;margin-left:1%}
#sit_ov_btn #sit_btn_buy, #sit_ov_btn #sit_btn_wish{padding:1.0em 0 1.0em 10px;border:1px solid #e4e4e4;font-size:13px;vertical-align:middle;text-align:center;text-decoration:none;letter-spacing:-0.1em;line-height:1em;cursor:pointer;vertical-align:baseline;color:#007acc;border-radius:2px}
#sit_ov_btn #sit_btn_wish {position:absolute;top:0;right:0;width:108px;background:#f7f7f7;padding:1.0em 0;}
#sit_ov_btn #sit_btn_wish:hover{border:1px solid #007acc}
#sit_btn_rec {background:#888;color:#fff}
.sms_alram{padding: 1.0em 0 !important;width:108px;background:#f7f7f7;}
.sms_alram:hover,.sms_alram:focus{background:#f7f7f7; }

#sit_ov_btn .icon_buy_btn{background:url('img/gc_icon_buy.gif') #f7f7f7 33px 15px no-repeat}
#sit_ov_btn .icon_cart_btn{background:url('img/gc_icon_cart.gif') #f7f7f7 33px 15px no-repeat}
#sit_ov_btn .icon_wish_btn, #sit_ov_btn .sms_alram_icon{margin-right:3px;color: red}

#sit_opt_added {margin:0;padding:0;border:1px solid #e9e9e9;border-bottom:0;background:#fff;list-style:none}
#sit_opt_added li {padding:.5em;border-bottom:1px solid #e9e9e9;background:#f8f8f8}
#sit_opt_added li div {margin:5px 0 0;text-align:right}
#sit_opt_added button {margin:0 0 0 1px;padding:.5em .7em}
.sit_opt_list input.frm_input, .sit_spl_list input.frm_input{display:inline;width:auto;padding:0.2em}

.sit_option{margin-bottom:10px;border:1px solid #e4e4e4}
.sit_option h3{clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute !important;width: 1px;word-wrap: normal !important;}

/* 상품 재입고 알림 (SMS) */
#sit_sms_new {}
#sit_sms_new #sms_agree {padding:10px 0;text-align:right}
#gc_itemstock_dialog_box{display:none}
#gc_itemstock_dialog_box th, #gc_itemstock_dialog_box td, #gc_itemstock_dialog_box td textarea, #gc_itemstock_dialog_box td input, #gc_itemstock_dialog_box label{font-size:13px}
#gc_itemstock_dialog_box th{width:100px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f7f7f7;text-align:left}
#gc_itemstock_dialog_box td{padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {clear:both;padding:0 0 30px;text-align:center;    margin-top: 65px;}
#sit_siblings:after {display:block;visibility:hidden;clear:both;content:""}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;padding:8px 12px;border:1px solid #e9e9e9;background:#fff;font-size:12px;color:#333}
#sit_siblings #siblings_prev {float:left;margin:0;padding-left:20px;background:url('img/gc_icon_left.gif') 5px 10px no-repeat}
#sit_siblings #siblings_next {float:right;margin:0;padding-right:20px;background:url('img/gc_icon_right.gif') 70px 10px no-repeat}
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 - 상품정보 */
#sit_inf {margin:0 0 ;padding:10px 0px 20px;border-bottom:1px solid #e9e9e9;}
#sit_inf h2 {clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute !important;width: 1px;word-wrap: normal !important;}
#sit_inf h3 {position:absolute;font-size:0;line-height:0;content:""}

#sit_inf_basic {margin:10px 0}
#sit_inf_explan {margin:0 0 10px;width:auto !important;width:718px;overflow:hidden} /* ie6 미대응시 #sit_inf_explan {margin:0 0 10px} 만으로 충분 */
#sit_inf_explan img {max-width:100%;height:auto}

#sit_inf_open {width:100%;border:0;border-collapse:collapse;font-size:12px}
#sit_inf_open th, #sit_inf_open td {padding:7px 10px;border:1px solid #fff;background:#f7f7f7;vertical-align:top;text-align:left}


@media 
only screen and (max-width: 760px) {

    #sit_inf_open, #sit_inf_open thead, #sit_inf_open tbody, #sit_inf_open tr{  display: block; width:100%;}
    #sit_inf_open th, #sit_inf_open td{display: block;padding:10px 10px;}
    #sit_inf_open td{margin-bottom:10px;text-align:center;}
    #sit_inf_open th{text-align:center;}
    #sit_star_sns {margin-right:0}


}


/* 상품 상세보기 - 사용후기 */
#sit_use {margin:0 0 ;padding:10px 0px 20px;border-bottom:1px solid #e9e9e9;}
#sit_use h2 {clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute !important;width: 1px;word-wrap: normal !important;}
#sit_use h3 {position:absolute;font-size:0;line-height:0;content:""}

#sit_use_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none;font-size:13px}
#sit_use_ol .sit_use_li {position:relative;padding:0 0 10px;border-bottom:1px solid #e4e4e4;background:#fff;list-style:none;margin:0}
.sit_use_li .abs_right{position:absolute;top:10px;right:10px}
.sit_use_li_title {display:block;margin:0;padding:10px;border:0;background:transparent;text-align:left;cursor:pointer;color:#000}

.sit_use_dl {margin:0;padding:0 10px;zoom:1}
.sit_use_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl dt {float:left;margin: 0 0}
.sit_use_dl dd {float:left;margin: 0 20px 0 5px}
.sit_use_star {padding:3px 0 0 }
.sit_use_star img{vertical-align:top}
.sit_use_con {display:none;padding:10px 10px 0}
.sit_use_p {margin:0 0 10px;padding:10px;border:1px solid #e9e9e9;background:#f7f7f7}
.sit_use_cmd {text-align:right}

#sit_use_wbtn {margin:0 0 5px;text-align:right}
.sit_use_cmd a.btn01{padding:3px;background:#fff;border:1px solid #444;color:#007acc !important;border:1px solid #d1d1d1;border-radius:2px}
.sit_use_cmd a.btn01:hover{color:#ff3061 !important}

#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}
#gc_review_form .form-submit{text-align:right}
.gc_no_reviews{text-align:center;padding:50px 0 !important;font-size:12px}

/* 상품 상세보기 - 상품문의 */
#sit_qa {margin:0 0 ;padding:10px 0px 20px;border-bottom:1px solid #e9e9e9;}
#sit_qa h2,#sit_qa h3 {clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute !important;width: 1px;word-wrap: normal !important;}

#sit_qa_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none;font-size:13px}
#sit_qa_ol .sit_qa_li {position:relative;padding:0 0 10px;border-bottom:1px solid #e9e9e9;background:#fff;list-style:none;margin:0}
#sit_qa_ol a.sit_qa_li_title {display:block;margin:0;padding:10px;border:0;background:transparent;text-align:left;cursor:pointer;color:#000;}

.sit_qa_li img{display:inline}

.sit_qa_dl {margin:0;padding:0 10px;zoom:1}
.sit_qa_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl dt {float:left;margin:0}
.sit_qa_dl dd {float:left;margin:0 20px 0 5px}
.sit_qaa_done {color:#ff3061}
.sit_qaa_yet {color:#999}

.sit_qa_con {display:none;padding:10px 10px 0}
.sit_qa_p {margin:0 0 10px;padding:10px;border:1px solid #e9e9e9;background:#f7f7f7}
.sit_qa_p strong {display:inline-block;margin:0 0 10px}
.sit_qa_qaq {margin:0 0 20px;border-bottom:1px solid #eee}

.sit_qa_con textarea {display:none}
.sit_qa_cmd {text-align:right}
.sit_qa_cmd a.btn01{padding:3px;background:#fff;border:1px solid #444;color:#007acc !important;border:1px solid #d1d1d1;border-radius:2px}
.sit_use_cmd a.btn01:hover{color:#ff3061 !important}

.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}

#sit_qa_wbtn {margin:0 0 5px;text-align:right}
#sit_qa_write {}
#sit_qa_write #iq_subject {width:100%}

/* 상품 상세보기 - 배송정보 */
#sit_dvr {margin:0  ;padding:10px 0px 20px;border-bottom:1px solid #e9e9e9;}
#sit_dvr h2 {margin:0 0 10px;font-size:14px;}

/* 상품 상세보기 - 교환정보 */
#sit_ex {margin:0 ;padding:10px 0px 20px;border-bottom:1px solid #e9e9e9;}
#sit_ex h2 {margin:0 0 10px;font-size:14px;}

/* 상품 상세보기 - 관련상품 */
#sit_rel {margin:0;padding:10px 0px 20px;}
#sit_rel h2 {clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute !important;width: 1px;word-wrap: normal !important;}
#sit_rel .sct_last {margin:0 !important}

/* 사용후기 모음 */
#sps_sch {margin:0 0;background:#fff}
#sps_sch a {display:inline-block;padding:0 8px;height:21px;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:1.9em}
#sps_sch .btn_submit {padding:0 8px;height:24px;vertical-align:middle}

#sps {zoom:1}
#sps ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#sps li {position:relative;padding:10px;border-bottom:1px solid #e9e9e9}
#sps li:after {display:block;visibility:hidden;clear:both;content:""}

.sps_img {float:left;margin:0 10px 0 0;width:80px}
.sps_img span {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sps dl {margin:5px 0 10px;zoom:1}
#sps dl:after {display:block;visibility:hidden;clear:both;content:""}
#sps dt {float:left}
#sps dd {float:left;margin:0 20px 0 5px}
#sps dd img {position:relative;}

.sps_section {float:left;width:630px}
.sps_section p {padding:0;width:100%}
.sps_con_full {padding:0;height:auto !important}
.sps_con_btn {margin:5px 0 0;text-align:right}
.sps_con_btn button {margin:0;padding:5px;border:0;background:#565e60;color:#fff}

/* 목록 바로가기 */
.sanchor {margin:0 0 10px;padding:0;zoom:1}
.sanchor:after {display:block;visibility:hidden;clear:both;content:""}
.sanchor li {float:left;margin:0;padding:0;margin-left:-1px;list-style:none;width:25%;text-align:center;background:#fff;}
.sanchor a {display:block;border:1px solid #ddd;text-decoration:none;line-height:2.6em;color:#666 !important;background:#f3f3f3;font-size:12px;letter-spacing:-1px}
.sanchor a:focus, .sanchor a:hover {background:#eee;color:#333;text-decoration:none}
.sanchor a.sanchor_on {background:#fff;border-bottom-color:#fff;color:#007acc !important;text-decoration:none;border-top:1px solid ##007acc}

/* 상품문의 모음 */
#sqa_sch {margin:0 0 10px}
#sqa_sch a {display:inline-block;padding:0 8px;height:21px;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:1.9em}
#sqa_sch .btn_submit {padding:0 8px;height:24px;vertical-align:middle}

#sqa {zoom:1}
#sqa ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#sqa li {position:relative;padding:10px;border-bottom:1px solid #e9e9e9}
#sqa li:after {display:block;visibility:hidden;clear:both;content:""}

.sqa_img {float:left;margin:0 10px 0 0;width:80px}
.sqa_img span {position:absolute;font-size:0;line-height:0}

#sqa dl {margin:5px 0 10px;zoom:1}
#sqa dl:after {display:block;visibility:hidden;clear:both;content:""}
#sqa dt {float:left}
#sqa dd {float:left;margin:0 20px 0 5px}
#sqa dd img {position:relative;top:-2px}

.sqa_section {float:left;width:630px}
.sqa_section .sqa_con {padding:10px;background:#f2f5f9;line-height:1.7em}
.sqa_section p {padding:0;width:100%}
.sqa_con_full {padding:0;height:auto !important}
.sqa_con_btn {margin:5px 0 0;text-align:right}
.sqa_con_btn button {margin:0;padding:5px;border:0;background:#565e60;color:#fff}

/* 상품후기 pagination */
.gc_review_pagination ul.page-numbers, 
.gc_review_pagination ul.page-numbers li, 
.gc_review_pagination ul.page-numbers a,
.gc_review_pagination ul.page-numbers span{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-style: normal;
        list-style: none;
        text-transform: none;
        text-indent: 0px;
        font-variant: normal;
        text-align: left;
        letter-spacing: 0px;
        word-spacing: 0px;
}

.gc_review_pagination{
        margin: 10px 0 22px 0;
        width: 100%;
}
.gc_review_pagination ul.page-numbers {
        width: 100%;
        padding-top: 10px;
        zoom:1;
}
.gc_review_pagination ul.page-numbers:after{display:block;visibility:hidden;clear:both;content:""}
.gc_review_pagination ul.page-numbers li {
        float: left;
        display: block;
        margin-bottom: 2px;
}
.gc_review_pagination ul.page-numbers li.page_info {
		padding: 2px 8px 3px 0;
}
.gc_review_pagination ul.page-numbers a,
.gc_review_pagination ul.page-numbers span{
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 2px;
        margin-right: 2px;
        display: block;
        border: 1px solid #cccccc;
}

.gc_review_pagination ul.page-numbers li a:hover {
        border-color: #999999;
}

.gc_review_pagination ul.page-numbers li.space {
        padding: 6px;
        padding-left: 2px;
        padding-right: 2px;
}

.gc_review_pagination ul.page-numbers li span.current  {
        background-color:#333;
        border:1px solid #333;
        color:#FFFFFF;
}

/* shop 아이템 QA 폼 */
.gc_itemqaform{display:none}
.gc_itemqaform.show{display:block}

@media (max-width: 800px) {
    #sit_ov_wrap li.w50{float:none;width:100%;margin-bottom:10px}
    .shop_view_slider{margin-right:0}
    /*ul.sanchor{display:none}*/
}

@media (max-width: 640px) {
    .boots_row .col-gn-1,
    .boots_row .col-gn-2,
    .boots_row .col-gn-3,    
    .boots_row .col-gn-4,
    .boots_row .col-gn-5{width:46%;}
    .boots_row .col-gn-6,
    .boots_row .col-gn-7,
    .boots_row .col-gn-8,
    .boots_row .col-xs-9,
    .boots_row .col-xs-10{/*width:50%*/}
    
    .row_list .col-gn-0,
    .row_list .col-gn-1,
    .row_list .col-gn-2,
    .row_list .col-gn-3,
    .row_list .col-gn-4,
    .row_list .col-gn-5,
    .row_list .col-gn-6,
    .row_list .col-gn-7,
    .row_list .col-gn-8,
    .row_list .col-gn-9,
    .row_list .col-gn-10 {width:100%}
    
    .row_list .sct_img{width:140px}
    li.gnucommerce:nth-child(2n+1){clear:both!important}
    .box_clear{clear:none!important}
}

@media (max-width: 420px) {
    .boots_row .col-gn-1,.boots_row .col-gn-2,.boots_row .col-gn-3,.boots_row .col-gn-4,.boots_row .col-gn-5,.boots_row .col-gn-6,.boots_row .col-gn-7,.boots_row .col-gn-8,.boots_row .col-xs-9,.boots_row .col-xs-10{width:100%}
    .row_list .sct_img{width:100px}

    .sct .sct_img img{width:100%;height:auto}
    li.gnucommerce{clear:both}
}

