@charset "utf-8";

/* ### 기본 스타일 커스터마이징 시작 ### */

.sch_word {color: #ff3061}
.gp_skin_list, #bo_v, #bo_w{width:100%;padding:0;margin:0;font-size:0.813em;}
.gp_skin_list a, #bo_v a, #bo_w a{box-shadow:none}
#bo_w input[type="text"], #bo_w textarea, #bo_vc_w input[type="text"], #bo_vc_w textarea{font-size:0.813em !important;}
#bo_w textarea, #bo_vc_w textarea {line-height:1.5;}

/* 리스트 테이블 및 기본 테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0;font-size:1em;border-left:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden;display:none}
.tbl_head01 thead th {border:0;padding:12px 0;border-top:2px solid #525f78;border-bottom:1px solid #efefef;background:#fff;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {border:0;padding:8px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.tbl_head01 a {border:none;color:#000;text-decoration:none}
.tbl_head01 th, .tbl_head01 td{vertical-align:middle}

.tbl_head01 .wr_number{width:60px}
.tbl_head01 .wr_checkbox{width:30px}
.tbl_head01 .wr_subject{width:auto;text-align:left !important;}
.tbl_head01 th.wr_subject{text-indent:8px;text-align:center !important;}
.tbl_head01 .wr_subject img{display:inline;vertical-align:middle}
.tbl_head01 .wr_subject a{font-weight:normal}
.tbl_head01 .wr_writer{width:100px}
.tbl_head01 .wr_datetime{width:70px}
.tbl_head01 .wr_hit{width:60px}
.tbl_head01 .wr_good{width:50px;color:#007acc}
.tbl_head01 .wr_nogood{width:50px;color:#ff3061}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden;display:none}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {border:none;color:#000;text-decoration:none}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative;margin:0}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;border:0}
#captcha legend label{font-size:0 !important;}
#captcha #captcha_img {display:inline;border:1px solid #e9e9e9;width:100px;height:43px;vertical-align:top}

#captcha #captcha_mp3 {position:absolute;top:11px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('./img/sound.gif')}
#captcha #captcha_reload {position:absolute;top:32px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_reload span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('./img/reload.gif')}
#captcha #captcha_key {display:inline;margin:0 0 0 26px;padding:0 5px !important;width:80px;height:43px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:2.8em;vertical-align:middle}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:76px;height:30px;border:1px solid #e9e9e9}
#captcha.m_captcha #captcha_reload {position:relative;left:0;top:0;margin:0;padding:0 5px;height:32px;border:0;background:#e4eaec;vertical-align:middle;overflow:hidden;cursor:pointer;text-indent:-9999px}
#captcha.m_captcha #captcha_key {margin:0 0 0 4px;padding:0 5px;width:50px;height:30px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:2em}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_confirm input{padding:8px 7px;background:#545f79;border:none;color:#fff;font-weight:normal;border-radius:2px}
.btn_confirm input:hover{background:#4c5771;}

fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}

a.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn_cancel:hover{border:1px solid #ccc;}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden;display:none}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

.gc_list_wrap ul{margin:0;padding:0;margin-bottom:10px}
.gc_list_wrap ul li{list-style:none}
ul.gc_title_head{background: #eaeaea;border-top: 1px solid #eee;font-weight:bold;padding:8px}
ul.gc_title_head, .gc_doc_line{*zoom:1;}
ul.gc_title_head:after, .gc_doc_line:after{content:""; display:block; clear:both;}
.gc_doc_line{border-bottom: 1px solid #eee;padding:8px}
.gc_list_walker ul{clear:both}
.gc_doc_num{float:left;text-align: center;width: 5%;}
.gc_doc_chk{float:left;text-align: center;width: 5%;}
.gc_doc_subject{float: left;text-align: left;width: 55%;}
.gc_doc_writer{float: left;text-align: center;width: 10%;}
.gc_doc_date{float: left;text-align: center;width: 10%;}
.gc_doc_hit{float: left;text-align: center;width: 5%;}

/* 페이징 */

.pg_wrap {clear:both;margin: 0 0 20px;padding: 20px 0 0;text-align: center;display: inline-block;float:right;}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {text-decoration:none;border:1px solid #d1d1d1;}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0;border:1px solid #d1d1d1;font-weight:normal;color:#ff3061;}

/* 폼 테이블 */
.tbl_frm01 {border-right:1px solid #efefef;border-left:1px solid #efefef}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0;font-size:1em}
.tbl_frm01 th, .tbl_frm01 td{vertical-align:middle}
.tbl_frm01 th {vertical-align:middle;letter-spacing:-2px;width:120px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:alicebluea.btn_b02;text-align:center}
.tbl_frm01 td {width:auto;padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;border-right:0;border-left:0;background:transparent;text-align:left !important;}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;color:#000;vertical-align:middle;line-height:2em}
.tbl_frm01 textarea {margin:0;padding:2px 2px 3px}
.tbl_frm01 .frm_input {margin:0;padding:0;font-size:1em}
.tbl_frm01 input[type="password"].frm_input, .tbl_frm01 input[type="text"].frm_input{width:auto;padding: 6px 12px !important;height:34px;height:auto;border:1px solid #e4eaec;border-radius: 4px;color: #555;vertical-align:middle;line-height:1.5}
.tbl_frm01 textarea {width:100%;height:120px;font-size:1em}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* list-head 태그 리스트 */
#bo_list .list_head_tags {margin: 0 0 10px;padding: 0;list-style: none;zoom: 1}
#bo_list .list_head_tags:after{display: block;visibility: hidden;content: "";clear: both;width: 100%;height: 0;overflow: hidden}
#bo_list .list_head_tags li {float: left;margin: 0 5px 5px 0;list-style:none}
#bo_list .list_head_tags li a{border:0;display: inline-block;}
#bo_list .list_head_tags li .tags-txt {display: inline-block;padding: 4px 10px;border: 1px solid #e5e9ee;border-right: 0;color: #666}
#bo_list .list_head_tags li .tags-cnt {display: inline-block;padding: 4px 7px;border: 1px solid #e5e9ee;background: #f2f2f2;color: #666}
#bo_list .list_head_tags li span{display: inline-block;height:32px;vertical-align:middle}

#bo_list span.bo-tags {display: inline-block;}
#bo_list .bo-tags a {display: inline-block;color: #999;}
#bo_list .bo-tags-list a {font-size:0.95em;}
#bo_list .bo-tags-list a:before {display: inline-block;margin: 0 3px;content: "·";}

.wp-editor-container #wr_content {height:400px}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal;text-align:left}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important;font-size:0.750em}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {padding:7px 7px;border-radius:2px;background:#fff;line-height:16px}
#bo_list a.btn_b01:focus, #bo_list a.btn_b01:hover {}
#bo_list a.btn_b02 {padding:6px 7px;border-radius:2px}
#bo_list a.btn_b02:focus, #bo_list a.btn_b02:hover {}
#bo_list a.btn_admin {padding:6px 7px;border-radius:2px} /* 관리자 전용 버튼 */

/* 읽기 버튼 */
#bo_v a.btn_b01 {background:#b8b8b8;border:none;border-radius:2px;color:#fff;}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {background:darkgray;}
#bo_v a.btn_b02 {background:#545f79;border:none;border-radius:2px;color:#fff;}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {background:#4c5771;}
#bo_v .btn_b03 {display:inline-block;width:50px;height:32px;border:1px solid #d1d1d1;line-height: 32px;border-radius:3px;color:#007acc}
#bo_v a.btn_admin {border-radius:2px;} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {background:#CA190F;}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit, #bo_w button.btn_submit {padding:8px;min-height:auto;min-width:auto;border:0;background:#4b545e;color:#fff;height:36px;cursor:pointer;font-size:1em;vertical-align:middle;margin-bottom:0 }
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {height:36px;box-sizing:border-box}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}
#bo_w select {padding: 3px 6px;font-size: 1em;line-height: 1.5;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px}

/* 기본 테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {}
#bo_list .tbl_head01 table{background:#fff;}
#bo_list .tbl_head01 caption {}
#bo_list .tbl_head01 thead th {}
#bo_list .tbl_head01 thead a {}
#bo_list .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {}
#bo_list .tbl_head01 tfoot td {}
#bo_list .tbl_head01 tbody th {}
#bo_list .tbl_head01 tr:hover{background:#f9f9f9}
#bo_list .tbl_head01 td {border-left:0}
#bo_list .tbl_head01 a {}
#bo_list td.empty_table {text-align:center;padding:20px 0}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {background:#fff}
#bo_w .tbl_frm01 th {width:80px}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 td label{display:inline}
#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}
#bo_w h2{font-size:1.2em}
#bo_w h3{font-size:1.1em}
#bo_w input[type="checkbox"]{vertical-align: middle;}
#bo_w .block_label{display:block;margin-bottom:5px}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:8px 7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, a.btn_b01:hover {text-decoration:none;border:1px solid #d9ded9;}
a.btn_b02 {display:inline-block;padding:8px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, a.btn_b02:hover {text-decoration:none;border:1px solid #3b3c3f;}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none;border:1px solid #e8180c;}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold;color:#27b324;}

/* 게시판 목록 */
#bo_list .td_board {width:120px;text-align:center}
#bo_list .td_chk {width:30px;text-align:center}
#bo_list .td_date {width:60px;text-align:center}
#bo_list .td_datetime {width:110px;text-align:center}
#bo_list .td_group {width:100px;text-align:center}
#bo_list .td_mb_id {width:100px;text-align:center}
#bo_list .td_mng {width:80px;text-align:center}
#bo_list .td_name {width:100px;text-align:left}
#bo_list .td_nick {width:100px;text-align:center}
#bo_list .td_num {width:50px;text-align:center}
#bo_list .td_numbig {width:80px;text-align:center}

#bo_list .txt_active {color:#5d910b}
#bo_list .txt_expired {color:#ccc}

#bo_cate{display:inline-block}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_cate ul {margin:0;margin-bottom:10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {margin:0;padding:0;float:left;margin-bottom:-1px;list-style:none}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 1em 5px;width:auto;min-width:70px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #87a4f2;background:#fff;color:#565e60;font-weight:bold}

.td_subject img {margin:0;margin-left:3px}

/* 게시판 목록 공통 */

.bo_fx {display:inline-block;width:100%;margin-bottom:9px;zoom:1;}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none;float:right;}
.bo_fx ul li{list-style:none}
#bo_list_total {float:left;padding-top:5px}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-left:5px}
.btn_bo_adm input,
.btn_bo_adm button{padding:9px 8px!important;border:0;background:#e8180c;border-radius:2px;color:#fff;text-decoration:none;vertical-align:middle;font-weight:normal}
.bo_notice td {background:#f5f6fa}
.bo_notice td a{font-weight:bold}
.td_num strong {padding:4px;color:#fff;background:tomato;border-radius:12px;}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}

#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
fieldset#bo_sch{border:0;width:243px;padding: 20px 0 ;}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;border:0;}

/* 리스트 검색 폼 */
#bo_sch select{margin:0;height:auto !important;vertical-align:middle;font-size:1em;width:auto;}
#bo_sch select[name="sfl"]{display:inline-block;height:30px !important;width:auto;padding-top:2px;padding-bottom:2px;border:1px solid #e4e4e4}
#bo_sch input[type="text"].frm_input{display:inline-block;margin:0;padding:2px !important;width:98px;height:30px;min-height:auto;outline:0;border:1px solid #e4e4e4;vertical-align:middle;font-size:1em;line-height:1em;background:#fff}
#bo_sch input[type="submit"].btn_submit{margin:0;vertical-align:middle;height:30px !important;min-width:auto;min-height:auto;padding:.5em .8em !important;border-radius:2px;font-size:1em;height:auto;line-height:1em;background:#4b545e}
#bo_sch input[type="submit"].btn_submit:hover{background:#4b545e}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

/* 게시판 읽기 */
#bo_v {}
#bo_v .sv_wrap a {border:0}
#bo_v .bo-tags {margin: 0 0 20px}
#bo_v .bo-tags-view a {border:0}
#bo_v .bo-tags-view a:after {display: inline-block;margin: 0 5px 0 8px;content: "";}
#bo_v_table {display:none;position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em}
#bo_v_title {padding:20px;font-size:1.2em;border-top:2px solid #545f79;margin-bottom:0}
#bo_v_info {padding:20px;border-top:1px solid #efefef;line-height:20px}
#bo_v #bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_v #bo_v_info strong {display:inline-block;margin:0 15px 0 5px;font-weight:normal;line-height:20px;}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}


#bo_v_file {margin:20px 0 10px 0;border:1px solid #eee;border-bottom:none}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:5px 20px;border-bottom:1px solid #eee;background:#f9f9f9;list-style:none}
#bo_v_file li:hover{background:#fff}
#bo_v_file a {display:inline-block;padding:8px 0 7px;color:#000;word-wrap:break-word;border:0;}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0;vertical-align:middle}
.bo_v_file_cnt {display:inline-block;margin:0 0 3px 10px;color:#27b324;}
.bo_v_file_date {float:right;display:inline-block;line-height:35px}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_v_link ul {margin:0;padding:0;list-style:none;}
#bo_v_link li {padding:5px 20px;background:#f9f9f9;list-style:none}
#bo_v_link a {border:0;display:inline-block;padding:8px 0 7px;color:#000;word-wrap:break-word;line-height:20px}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px;color:#27b324}
#bo_v_link a img{display:inline-block;vertical-align:middle}

#bo_v_top {margin:0 0 10px;padding:20px;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px;list-style:none !important}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px;list-style:none !important}

#bo_v_atc {min-height:200px;padding-top:10px;height:auto !important;height:200px;border-top:1px solid #efefef;}
#bo_v_atc #bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}

#bo_v_img {padding:20px;width:100%;overflow:hidden;zoom:1;}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {/*margin-bottom:20px;*/max-width:100%;height:auto}

#bo_v_con {padding:20px;width:100%;line-height:1.7em;word-break:break-all;overflow:hidden;min-height:80px;}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle;}
#bo_v_act a.btn_b01{padding:7px 7px;border:1px solid #d1d1d1;background:#fff;color:#000}
#bo_v_act a.btn_b01 i{color:#007acc}
#bo_v_act a.btn_b01:hover{background:#fff;}
#bo_v_act a.btn_b01:hover i{color:tomato}

#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_act .bo_v_act_view{display:inline-block;width:50px;height:32px;border:1px solid #d1d1d1;line-height: 32px;border-radius:3px;color:#007acc}
#bo_v_act .bo_v_act_view strong{display:inline-block;color:#ff3061;}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}


/* 게시판 보기  파일+링크 */
#bo_v_info{}
#bo_v_info .bo_v_add{float:right;margin-top:-7px;background:#b8b8b8}
#bo_v_info .bo_v_add:hover{background:#545f79}

#bo_v_info ul li+li{border-top:none;}
#bo_v_info ul li button{border:none;padding:10px;font-size:1.083em;color:#484848;background:url('../img/sub/btn_open.jpg') 705px 50% no-repeat;width:100%;text-align:left}
#bo_v_info ul li button.pv_ji_cl{background:url('../img/sub/btn_close.jpg') 705px 50% no-repeat;}

#bo_v_info ul li .pvji_open{background:#f6f6f6;/*border-top:1px solid #e9e9e9;*/padding:15px;overflow:hidden}
#bo_v_info ul li .pvji_open p{color:#484848;line-height:1.667em}
#bo_v_info ul li .pvji_open p a{color:#00c269;text-decoration:underline}
.pv_ji_close{display:none;}

/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;border-top: 1px solid #efefef;}
#bo_v{background:#fff;border:1px solid #efefef}
#bo_v #bo_vc h2 {margin:0;font-size:1em;text-align:center;border:none;border-bottom:1px solid #efefef;background:#f9f9f9;padding:20px 0;}
#bo_vc article {padding:10px 20px;border-bottom:1px dotted #ccc}
#bo_vc header {position:relative;padding:15px 0}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1;float:none;width:100%}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {list-style:none !important;float:left;margin-left:5px}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 20px;}
#bo_vc_w .tbl_frm01 {margin:20px}
#bo_v #bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;display:none}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

.copymove_current{color:#ff3061;}

/* 쓰기페이지 태그 */
.screen-reader-text{display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
#post_tag ul.tagit li.tagit-new {padding: .25em 4px .25em 0}
#bo_w #post_tag ul.tagit input[type="text"].ui-autocomplete-input {
-moz-box-sizing:    border-box !important;
-webkit-box-sizing: border-box !important;
box-sizing:         border-box !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
border: 0 !important;
margin: 0 !important;
padding: 0 !important;
width: inherit !important;
background-color: inherit !important;
outline: none !important;
min-height:auto;
}
#post_tag ul.tagit{margin-top:0;margin-bottom:20px}
#post_tag ul.tagit li{list-style:none}

@media screen and (max-width: 767px) {
    .tbl_wrap .wr_good, .tbl_wrap .wr_nogood {display:none}
}

@media screen and (max-width: 640px) {
    .tbl_wrap .wr_datetime {display:none}
    #bo_sch select{width:auto}
}

@media screen and (max-width: 500px) {
    .tbl_wrap .wr_writer {display:none}
	#bo_sch select[name="sfl"] {width:100px}
}	
	
/* 게시글 삭제 비밀번호 확인 */

#pw_confirm h1{font-size: 1.250em;color:#545f79;text-align:center}
#pw_confirm p{font-weight:normal;font-size:0.813em;text-align:center}
#pw_confirm #password_user_pass{width:70%;height:30px;margin-left:10px;}
#pw_confirm .btn_submit{height:30px;border-radius:3px;background:#545f79;font-weight:normal;}
